<template>
  <div class="container mt-5">
    <h3 class="alert alert-primary">
      Demo Map
    </h3>
    <div class="col-3">
      <WMSMap />
    </div>
  </div>
</template>

<script>
import WMSMap from './WMSMap.vue'

export default {
  name: 'Map',
  components: {
    WMSMap
  }
}

</script>
