<template>
  <div class="container mt-5">
    <h3 class="alert alert-primary">
      Demo Sankey
    </h3>
    <p>
      <a
        href="https://www.chartjs.org/docs/latest/"
        target="_blank"
      >ChartJS</a>
      ---
      <a
        href="https://www.npmjs.com/package/chartjs-chart-sankey"
        target="_blank"
      >Chartjs-Sankey</a>
    </p>
  </div>
  <div
    style="MyDiv"
    class="container"
  >
    <canvas
      id="myCanva"
    />
  </div>
</template>
<script>
import { Chart, LinearScale } from 'chart.js'
import { SankeyController, Flow } from 'chartjs-chart-sankey'

Chart.register(LinearScale, SankeyController, Flow)

export default {
  name: 'App',
  mounted: function () {
    var ctx = document.getElementById('myCanva')
    var colors = {
      Oil: 'black',
      Coal: 'gray',
      'Fossil Fuels': 'slategray',
      Electricity: 'blue',
      Energy: 'orange'
    }

    function getColor (name) {
      return colors[name] || 'green'
    }

    var Mychart = new Chart(ctx, {
      type: 'sankey',
      data: {
        datasets: [
          {
            data: [
              { from: 'Oil', to: 'Fossil Fuels', flow: 15 },
              { from: 'Natural Gas', to: 'Fossil Fuels', flow: 20 },
              { from: 'Coal', to: 'Fossil Fuels', flow: 25 },
              { from: 'Coal', to: 'Electricity', flow: 25 },
              { from: 'Fossil Fuels', to: 'Energy', flow: 60 },
              { from: 'Electricity', to: 'Energy', flow: 25 }
            ],
            colorFrom: c => getColor(c.dataset.data[c.dataIndex].from),
            colorTo: c => getColor(c.dataset.data[c.dataIndex].to)
          }
        ]
      }
    })

    return { Mychart }
  }
}
</script>
