<template>
  <div
    id="mapContainer"
    class="col-3"
  ></div>
</template>

<script>
import 'leaflet/dist/leaflet.css'
import L from 'leaflet'

export default {
  name: 'WMSMap',
  data () {
    return {
      center: [37, 7749, -122, 4194]
    }
  },
  methods: {
    setupLeafletMap: function () {
      const mapDiv = L.map('mapContainer').setView(this.center, 13)
      L.tileLayer(
        'https://webgis.arpa.piemonte.it/agportal/home/webmap/viewer.html?webmap=0f441f67e230448bbf3af884173f1998'
      ).addTo(mapDiv)
    }
  },
  mounted () {
    this.setupLeafletMap()
  }

}
</script>

<style scoped>
#mapContainer {
 width: 80vw;
 height: 100vh;
}
</style>
